<section class="formulaire_presta" >
	<fieldset class="contact">
		<table>
					<tr>
						<td>Civilité :  </td><td>{{ form_widget(formContactPr.civilite) }} {{ form_widget(formContactPr.contactId) }}</td>
					</tr>
					<tr>
						<td>Nom :  </td><td>{{ form_widget(formContactPr.nom) }}</td>
						<td>Prénom :  </td><td>{{ form_widget(formContactPr.prenom) }}</td>
					</tr>

					<tr>
						<td>Fonction :  </td><td>{{ form_widget(formContactPr.fonction) }}</td>
						<td>Email pro :  </td><td>{{ form_widget(formContactPr.emailPro) }}</td>
					</tr>
					<tr>
						<td>Tel. Pro :  </td><td>{{ form_widget(formContactPr.telPro1) }}</td>
						<td>Portable Pro :  </td><td>{{ form_widget(formContactPr.portablePro) }}</td>
					</tr>
					<tr>
						<td>Portable perso :  </td><td>{{ form_widget(formContactPr.portablePerso) }}</td>
					</tr>
							
		</table>
	</fieldset>

	<fieldset class="contact">
		<table>
					<tr>
						<td>Adresse : </td><td colspan="3">{{ form_widget(formContactPr.adresseLigne1, { 'attr': {'size': '78'} }) }} </td>
					</tr>
					<tr>
						<td></td><td colspan="3">{{ form_widget(formContactPr.adresseLigne2, { 'attr': {'size': '78'} }) }}</td>
					</tr>
					<tr>
						<td>Code postal: </td><td >{{ form_widget(formContactPr.cp) }}</td>
						<td>Ville: </td><td >{{ form_widget(formContactPr.ville) }}</td>
					</tr>
					
		</table>
	</fieldset>
	
	
<!--		{% render "LeaPrestaBundle:Contact:parcourspro"  with { idContact : idContact }   %}	-->
</section>

<script>
//cp
$('#EgwContactPr_cp,#EgwContact_ville').myAutoCompleteCp('EgwContactPr_');
</script>